@import './partials/setup';
@import './partials/variables';
@import './partials/global';
@import './partials/levidrome';
@import './partials/header';
@import './partials/footer';
@import './partials/about';
@import './partials/list';