// INPUT FORM STYLES


main.levidrome {
    height: 80vh;
}

.levidrome {
    margin: 75px auto;
}

input {
    margin: 0 auto;
    background: $neutralBlue;
    font-family: $primaryFont;
    color: $primaryColor;
    font-weight: 700;
    font-size: 1.8rem;
    text-align: center;
    border: 2px solid $neutralBlue;
    width: 80%;
}

.relative {
    position: relative;
}

button {
    font-family: $primaryFont;
    font-size: 1.2rem;
    background: $primaryColor;
    color: $white;
    padding: 5px 15px;
    margin: 10px auto;
    border: 2px solid $neutralBlue;
    position: relative;
    left: 85%;
    right: 115%;
}

.displayDefinitions p {
    width: 80%;
    padding-left: 30px;
    padding-right: 20px;
    margin-bottom: 50px;
    color: white;
}

.wordExample {
	font-style: italic;
}

.introText {
    text-align: center;
    color: $white;
    display: block;
}