// INPUT FORM STYLES

// form {
//     // border: 1px solid lime;
// }

input {
    display: block;
    margin: 0 auto;
    background: $neutralBlue;
    font-family: $primaryFont;
    color: $primaryColor;
    font-weight: 700;
    font-size: 1.8rem;
    text-align: center;
    border: 2px solid $neutralBlue;
    // box-shadow: 
    // border-radius:3px;
}

button {
    font-family: $primaryFont;
    font-size: 1.2rem;
    background: $primaryColor;
    color: $white;
    padding: 5px 15px;
    display: block;
    margin: 10px auto;
    border: 2px solid $neutralBlue;
}