// INPUT FORM STYLES


main.levidrome {
    height: 90vh;
    margin: 50px auto;
    text-align: center;
    padding-top: 50px;
}

h1.mainTitle {
        text-align: center;
        margin: 75px auto;
        display:block;
    }

.wordExample {
	font-style: italic;
}

p.introText {
    text-align: center;
    color: $white;
    margin: 20px auto;
}

input {
    margin: 0 auto;
    background: $neutralBlue;
    font-family: $primaryFont;
    color: $primaryColor;
    font-weight: 700;
    font-size: 1.8rem;
    text-align: center;
    border: 2px solid $neutralBlue;
    width: 80%;
}

.relative {
    position: relative;
}

button {
    font-family: $primaryFont;
    font-size: 1.2rem;
    background: $primaryColor;
    color: $white;
    padding: 5px 15px;
    margin: 10px auto;
    border: 2px solid $neutralBlue;
    position: relative;
    left: 63%;
    right: -63%;
    @extend .clearfix;
    .submit {
        top:0;
    }
}

.displayDefinitions {
    margin: 0 auto;
    position: relative;
    top: -50px;
}

.displayDefinitions p {
    color: white;
    margin: 20px 15px;
}
