// INPUT FORM STYLES


main.levidrome {
    height: 90vh;
    margin: 50px auto;
    text-align: center;
    padding-top: 50px;
}

h1.mainTitle {
        text-align: center;
        margin: 50px auto 20px auto;
        display:block;
        font-size: 3rem;
    }

.logo {
    width: 15%;
    margin: 0 auto;
    img {
        width: 100%;
    }
}

.wordExample {
	font-style: italic;
}

p.introText {
    text-align: center;
    color: $white;
    margin: 20px auto;
}

form {
    z-index: 10;
}

input {
    margin: 0 auto;
    background: $neutralBlue;
    font-family: $primaryFont;
    color: $primaryColor;
    font-weight: 700;
    font-size: 1.8rem;
    text-align: center;
    border: 2px solid $neutralBlue;
    width: 80%;
}

.relative {
    position: relative;
}

button.submit, button.clear {
    font-family: $primaryFont;
    font-size: 1.2rem;
    background: $primaryColor;
    color: $white;
    padding: 5px 15px;
    margin: 10px auto;
    border: 2px solid $neutralBlue;
    position: relative;
    @extend .clearfix;
    z-index: 10;
}

button.submit {
    top: -35px;
    left: 63%;
    right: -63%;
}

button.clear {
    left: 0;
}

i.fa {
    position: relative;
    top: -42px;
    left: 63%;
    right: -63%;
    color: $white;
}

.displayDefinitions {
    margin: 0 auto;
    position: relative;
    top: -100px;
    z-index: -5;
}

p.introText, p.instructions, p.definitionText {
    color: white;
    margin: 30px 75px;
}

p.instructions {
        padding-top: 20px;
        margin-bottom: -30px;
    }