// COLORS
$primaryColor: #452339ff;
$secondaryColor: #35578cff;
$white: white;
$lightGrey:rgb(240, 240, 240);
$grey: rgb(170, 170, 170);
$darkGrey: rgb(95, 95, 95);
$black: rgb(26, 26, 26);

$accentBlue: #00bdf2ff;
$accentRed: #d80a34ff;
$accentGreen: #26d708ff;

$neutralBlue: #a8d9ed76;
$neutralGreen: #75b02141;

// FONTS
$primaryFont: 'Quicksand', sans-serif;
$secondaryFont: 'Inconsolata', monospace;